
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../Imagen/fondo1.png");
    background-repeat: repeat-y;
    background-size: auto;

}

/*Variables para los colores*/
:root{
    --verde1: #0b986a;
    --verde2: #69d0a3;
    --verde3: #8decb9;
    --rosa1: #ff6961;
    --rosa2: #ff7c70;
}

/*Edita el menu en el cual se encuentra el home*/
.menu-area{
    list-style: none;
    height: 60px;
    cursor: pointer;
}
.menu-area div{
    float: right;
}

.menu-area div a{
    text-decoration: none;
    color: rgb(46, 45, 45);
    font-weight: bold;
    padding: 15px;
    display: block;
    border-radius: 80px;
}

.menu-area div a:hover{
    background: #0b986a;
    color: white;
}

/*Edita el icono en la barra del menu*/
.menu-area ul li img{
    position: relative;
    display: block;
    width: 50px;
    height: 70px;
    
    text-align: center;
}


/*Edita los botones de login*/
.login{
    list-style: none;
    padding-top: 8px;
    width: 100%;
    margin-left: 73%;
    max-width: 1000px;
    
    
}
.login div{
    float: left;
}

.login a {
    text-decoration: none;
    color: #0b986a;
    padding: 10px;
    border-radius: 50px;
    font-size: 11px;
    font-weight: bold;
}

.login a:hover{
    background: #ff6961;
    color: white;
    
}


.img1{
    margin-left: 30px;
    margin-right: 30px;
}

.img1 img{
    height: auto;
    width: 600px;
    float: left;
}

.titel1{
    margin-left: 140px;
    color: rgb(46, 45, 45);
}

.parrafos1 div{
	margin-left: 80px;
}

.clear{
	clear: both;
}


.caja1{
	height: 15px;
    width: 50px;
    border-radius: 10px;
    background: #0b986a;
    position: absolute;
    top: 65px;
    left: 100px;
}

.caja2{
	height: 15px;
    width: 30px;
    border-radius: 10px;
    background: #ff6961;
    position: absolute;
    top: 60px;
    left: 155px;
}

.caja3{
	height: 15px;
    width: 50px;
    border-radius: 10px;
    background: #0b986a;
    position: absolute;
    top: 65px;
    left: 190px;
}